<%= render 'components/banner' %>
<div class="cards">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <%= render 'components/card/card-category', {list: list} %>
    <% end %>
  <% end %>
</div>
