<%= simple_form_for [list, bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>
