<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Watchlist your life!</h1>
    <p>Create watch lists per category, add movies and rate them!</p>
    <div class="flex">
      <%= link_to "Add new list", new_list_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
