.review {
  background-color: rgba(0,0,0,0.2);
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 5px;
}

.review p {
 margin-bottom: 0px;
}

.reviews-existing {
  margin-top: 12px;
}
