.banner {
  height: 50vh;
  min-height: 300px;

  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/theater.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom -50px right 0px;
}

.banner h1, .banner p {
 color: white;
}

.banner .container {
  padding-top: 100px;
}
